<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @student.fullname %>
  (Grade <%= @student.readable_grade %>)
</p>


<table>
  <tr>
    <td>Current rating:</td>
    <td><%= @student.rating %></td>
  </tr>
  <tr>
    <td>This years rating change:</td>
    <td><%= @student.delta_rating_term(@term) %></td>
  </tr>
  <tr>
    <td>Latest rating change:</td>
    <td><%= @student.delta_rating_latest %></td>
  </tr>
</table>


<p>
  <em>Groups:</em>
  <% @student.groups_by_term(@term).each do |group| %>
      <%= render :partial => 'groups/group', :locals => {:group => group} %>
  <% end %>
</p>

<h2>Family</h2>
<p>Family: <%= @family.name %></p>
<p>Email: <%= @family.email %></p>
<p>Phone: <%= @family.phone %></p>	
<p>Note:<%= @family.notes %></p>


<% if is_admin? %>
	<%= link_to 'edit', edit_family_path(@family) %>

	<p>
	Add products: 
	<% @products.each do |product| %>
		<%= link_to product.name, :controller => "account_events", 
			:action => "purchase", :id => @student, :product => product %> 	
	<% end %>
	</p>
<%= render(:partial => 'accounts/show', :locals => {:account => @student.family.account}) %>

<p>
	Pay: <input type="text" id="amount" /> <a href="#" data-student="<%= @student.id %>" id="pay">pay</a>
	</p>
	
<% end %>	


<h2>Games</h2>
<table class="tablesorter">
  <thead>
  <tr>
    <th>Event</th>
    <th>Date</th>
    <th>Rating before</th>
    <th>Rating after</th>
  </tr>
  </thead>
  <tbody>
  <% @players.each do |player| %>
      <tr>
        <td><%= player.event ? player.event.name : "No Event" %></td>
        <td><%= player.event ? player.date_string : "" %></td>
        <td><%= player.rating %></td>
        <td><%= player.adjustedRating %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if is_admin? %>
<%= link_to 'Edit', edit_student_path(@student) %> |
<% end %>

<%= link_to 'Back', students_path %>
