<h1>Listing families</h1>

<table class="tablesorter">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Notes</th>
	<th>Balance</th>
    <th></th>
  </tr>

<% @families.each do |family| %>
  <tr>
    <td><%= link_to family.name, family %></td>
    <td><%= family.email %></td>
    <td><%= family.phone %></td>
	<td>
		<% family.students.each do |student| %>
			<p class="compact">
				<% if student.active && student.in_current_term %>
					<%= link_to student.firstname, student %>
				<% else %>
					<%= student.firstname %>
				<% end %>
			</p>
		<% end %>
	</td>
    <td><%= family.notes %></td>
	<td><%= -family.account.total / 100 %></td>
    <td>
		<%= link_to 'Edit', edit_family_path(family) %>
    	<%= link_to 'Destroy', family, :confirm => 'Are you sure?', :method => :delete %>
	</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Family', new_family_path %>
