<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Style</th>
    <th></th>
    <th>Students</th>
    <th></th>
  </tr>

  <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, edit_group_path(group) %></td>
        <td><%= group.style %></td>
        <td><%= render :partial => 'group', :locals => { :group => group } %></td>
        <td><%= link_to group.students.count, :controller => 'students', :action => 'index', :group => group.id %></td>
        <td><%= link_to 'remove', group, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Group', new_group_path %>
