<h1>Events</h1>

<%= link_to "Create Event", :action => 'new' %>

<table id="StudentRatingHistory" class="tablesorter">
  <thead>
  <tr>
    <th>Name</th>
    <th>Current Rating</th>
    <% @events.each do |event| %>
        <th data-event-id="<%= event.id %>" data-event-closed="<%= event.closed %>" class="EventHeader"><%= event.date.strftime('%b %d') %></th>
    <% end %>
  </tr>
  <thead>

  <tbody>
  <% @students.each do |student| %>
      <tr>
        <td>
          <%= link_to student.fullname, student %>
        </td>

        <td class="center">
          <%= student.current_rating_as_string %>
        </td>

        <% @events.each do |event| %>
            <% player = event.findPlayer(student) %>
            <td class="center">
              <%= player ? player.adjustedRating : '-' %>
            </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

